
<div fxFlex="100" fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center center"class="home-size-section back-image background-image-home" style="border:1px solid red;  ">
  <div fxFlex="50" fxFlex.xs="26" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"  >
    <img src="./assets/imgs/home/photo.jpg" class="img-rounded photo-img-size" >
    
  </div>
  <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
    <div fxLayout="column">
      <mat-card>Simple card</mat-card>
      <mat-card>Simple card</mat-card>
    </div>
  </div>
</div>