
<div fxFlex="100" fxLayout="row" fxLayout.xs="column"  fxLayoutAlign="center center"class="home-size-section back-image background-image-home " id="home">
  <div fxFlex="50" fxFlex.xs="26" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center"  >
    <img src="./assets/imgs/home/photo.jpg" class="img-rounded photo-img-size" >
    
  </div>
  <div fxFlex="50" fxFlex.xs="100" fxLayout="row" fxLayout.xs="column" fxLayoutAlign="center center" >
    <div fxLayout="column" fxLayoutGap="20px">
      <mat-card fxLayoutAlign="center center" class="back-shadow" style="border-radius: 16px;" ><angular-emojis [name]="'v'" size="50" style="padding: 10px 0px 0px 0px"> </angular-emojis><a style="padding-left: 16px;">Hello, I'm Martin Corona</a> </mat-card>
      <mat-card fxLayoutAlign="center center" class="back-shadow" style="border-radius: 16px;" >Junior Front End Developer</mat-card>
    </div>
  </div>
</div>