<div fxFlex="100" fxLayout="column">
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
    <h2>About me</h2>
  </div>
  <mat-divider style="width: 100%; background-color: #60caf1  ;"></mat-divider>
  <div fxFlex="100" fxLayout="row" fxLayout.xs="column" style="padding-top: 16px;">
    <div fxFlex="50" fxFlex="59" fxLayout="row">
      <!-- <img src="./assets/imgs/about/pngwing.com.png" style="height: 100%; width: 100%;"> -->
      <img src="./assets/imgs/logos/undraw_programming_re_kg9v.svg" style="height: 100%; width: 100%;">
    </div>
    <div fxFlex="50" fxLayout="row">
      <mat-card>
        <a>My name is Martin Corona and I am a graduate student studying Computer Systems at Tec MM Campus Zapopan.</a>
        <a>Outside of work I enjoy running, and walk.</a>
      </mat-card>

    </div>
  </div>
</div>
