<div fxFlex="100" fxLayout="column"style="padding-top: 30px;">
  
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
    <h2>Experience</h2>
    
  </div>
  <mat-divider style="width: 100%; padding-bottom: 16px;"></mat-divider> 
  <a style="padding-bottom: 16px;">Please see my <a href="https://www.linkedin.com/in/martin-corona-a019a2169/" style="color: blue">LinkedIn</a> for the complete list of my past work experiences.</a>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center" >
    <mat-card fxFlex="80" fxLayout="row" fxLayout.xs="column" style="background-color: rgb(245, 245, 245); margin-bottom: 16px;" >
      <div fxFlex="32" fxLayout="column" fxLayoutAlign="center center" class="bottom-padding">
        <img src="./assets/imgs/experience/codenation-studio.png" style="width: 100px; height: 100px;" class="logos">
      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutAlign="center start">
        
        <a class="font-medium-bold">Junior Front End Developer</a>  
        <a>CodeNation Studio</a>
        <a><i>Jan 2022 - Present</i></a>
      </div>
    </mat-card>
    <mat-card fxFlex="80" fxLayout="row" fxLayout.xs="column" style="background-color: rgb(245, 245, 245); margin-bottom: 16px;" >
      <div fxFlex="32" fxLayout="column" fxLayoutAlign="center center" class="bottom-padding">
        <img src="./assets/imgs/experience/codenation-studio.png" style="width: 100px; height: 100px;" class="logos">
      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutAlign="center start">
        
        <a class="font-medium-bold">Front End Developer Intern</a>  
        <a>CodeNation Studio</a>
        <a><i>Aug 2021 - Jan 2022</i></a>
      </div>
    </mat-card>
    <mat-card fxFlex="80" fxLayout="row" fxLayout.xs="column" style="background-color: rgb(245, 245, 245)">
      <div fxFlex="32" fxLayout="column" fxLayoutAlign="center center" class="bottom-padding">
        <img src="./assets/imgs/experience/logo-teleperformance.png" style="width: 100px; height: 100px;" class="logos">
      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign.xs="center center" fxLayoutAlign="center start">
        
        <a class="font-medium-bold">Call Center Bilingüe / Home office GDL</a>  
        <a>Teleperformance</a>
        <a><i>Feb 2021 - Jul 2021</i></a>
      </div>
    </mat-card>
  </div>
  
</div>