<div fxFlex="100" fxLayout="column" style="padding-top: 30px;" class="back-image background-image-contact ">
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
    <h2>Contact</h2>
  </div>
  <mat-divider style="width: 100%; background-color: #60caf1  ;"></mat-divider>
  <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" style="padding-top: 16px; margin-bottom: 30px;" fxLayoutAlign="center center">
    <mat-card fxFlex="45" fxLayout="row" style="border:1px solid red;">
    <div fxFlex="100" fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="center center">
        <img src="./assets/imgs/logos/emaillogo.png" style="height: 40px; width: 40px;">
        <a>Email</a>
      </div>

      <a href="mailto:martincorona007@hotmail.com" style="text-decoration: none; color: #60caf1;">martincorona007@hotmail.com</a>
    </div>
    </mat-card>
    <mat-card fxFlex="45" fxLayout="row" style="border:1px solid blue;">
      <a href="https://telegram.me/martincorona007"><img src="./assets/imgs/logos/Telegramlogo.png" style="height: 40px; width: 40px;"></a>
      <a href="https://www.linkedin.com/in/martin-corona-a019a2169/"><img src="./assets/imgs/logos/linkedinlogo.png" style="height: 40px; width: 40px;"></a>
      <a href="https://github.com/martincorona007"><img src="./assets/imgs/logos/GitHub.png" style="height: 40px; width: 40px;"></a>
    </mat-card>

    
  </div>
  <a style="padding: 30px">© 2022 Martin Corona</a>
</div>

