<div fxFlex="100" fxLayout="column" style="padding-top: 30px;" class="back-image background-image-contact ">
  <div fxFlex="100" fxLayout="row" fxLayoutAlign="center center">
    <h2>Contact</h2>
  </div>
  <mat-divider style="width: 100%; background-color: #60caf1  ;"></mat-divider>
  <div fxFlex="100" fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px" style="padding-top: 16px; margin-bottom: 30px;" fxLayoutAlign="center center">
    <mat-card fxFlex="45" fxLayout="row" style=" width: 92%;" class="card-height">
    <div fxFlex="100" fxLayout="column">
      <div fxLayout="column" fxLayoutAlign="center center">
        <!-- <img src="./assets/imgs/logos/emaillogo.png" style="height: 40px; width: 40px;"> -->
        <img src="./assets/imgs/logos/undraw_mail_sent_re_0ofv.svg" style="height: 70px; width: 80px;"> 
        <a style="padding: 8px 0px 8px 0px;">Email</a>
      </div>
      <hr style="border-color: #60caf1; border-width: 0.25rem; width: 3rem ; border: 1px solid #60caf1; background-color: #60caf1;">
      <a href="mailto:martincorona007@hotmail.com" style="text-decoration: none; color: #60caf1; text-align: center; padding: 10px;">martincorona007@hotmail.com</a>
    </div>
    </mat-card>
    <mat-card fxFlex="45" fxFlex.xs="48" fxLayout="row" style=" width: 92%;" class="card-height">
      <div fxFlex="100" fxLayout="column">
        <div fxLayout="column" fxLayoutAlign="center center">
          <img src="./assets/imgs/logos/undraw_social_dashboard_re_ocbd.svg" style="height: 70px; width: 80px;"> 
          <!-- <img src="./assets/imgs/logos/socials.png" style="height: 100px;"> -->
          
          <a style="padding: 8px 0px 8px 0px;">Find me on</a>
          <hr style="border-color: #60caf1; border-width: 0.25rem; width: 3rem ; border: 1px solid #60caf1; background-color: #60caf1;">
        </div>
      <div fxFlex="100" fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="center center">
        <a href="https://telegram.me/martincorona007" style="height: 40px;"><img src="./assets/imgs/logos/Telegramlogo.png" style="height: 40px; width: 40px;"></a>
        <a href="https://www.linkedin.com/in/martin-corona-a019a2169/" style="height: 40px;"> <img src="./assets/imgs/logos/linkedinlogo.png" style="height: 40px; width: 40px;"></a>
        <a href="https://github.com/martincorona007" style="height: 40px;"><img src="./assets/imgs/logos/GitHub.png" style="height: 40px; width: 40px;"></a>
      </div>
        
      </div>
      
      
    </mat-card>

    
  </div>
  <a style="padding: 30px">© 2022 Martin Corona</a>
</div>

