
<div [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar class="nav-bar"  >
    <!--MOBILE-->
    <mat-toolbar-row fxShow="false" fxShow.lt-sm="true" style=" z-index: 2; padding: 0px;">
      <div style="margin: 0px;" fxLayoutAlign="center center">
        <div fxLayout="row">
          <button mat-icon-button class="example-icon" *ngIf="isActiveMenu" (click)="snav.toggle()" (click)="clickOn()">
            <mat-icon >clear</mat-icon>
            
          </button>
          <button mat-icon-button class="example-icon" *ngIf="isActiveContent" (click)="snav.toggle()" (click)="clickOff()">
            <mat-icon >menu</mat-icon>
            
          </button>
          
          
        </div>
        <div fxLayout="row"  fxLayoutAlign="center center" style="padding-right: 47px;">
          <img src="./assets/imgs/logos/logo.png" style="width: 50%;">
        </div>
      </div>

  
    </mat-toolbar-row>
    <!--TABLET LAPTOP 4K-->
    <mat-toolbar-row fxShow="false" fxShow.gt-xs="true" fxLayoutAlign="space-between center" class="nav-bar" style=" z-index: 2; padding: 0px;">
    <div fxLayout="row"  >
      <img src="./assets/imgs/logos/logo.png" style="height:100%; width: 100%;">
    </div>
    <div fxLayout="row"  >
      <button mat-button>
        HOME
      </button>
      <button mat-button>
        ABOUT
      </button>
      <button mat-button>
        EXPERIENCE
      </button>
      <button mat-button>
        PROJECTS
      </button>
      <button mat-button>
        BLOGS
      </button>
      <button mat-button>
        CONTACT
      </button>
    </div>    
  
   
  
    </mat-toolbar-row>
  </mat-toolbar>
  
  <mat-sidenav-container>
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56" style="width: 100%;">
      AAAAA
    </mat-sidenav>
    <mat-sidenav-content style="background-color: #ffffff !important" *ngIf="isActiveContent" class="top-content">
     
      <router-outlet></router-outlet>
      <app-footer></app-footer>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
